@import './variables.scss';

html {
  height: 100%;
  padding: 0;
}

body {
  min-height: 100%;
  padding: 0;
  background-color: $bgGrey;
  color: $defaultColor;
  font-family: $defaultFont;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  outline: none;
}