// 背景色
$bgGrey: #F3F3F3;
// 通用shadow
$defaultShadow: 0px 3px 5px 0px rgba($color: #000000, $alpha: 0.2);
// 通用padding
$defaultPadding: 135px;

// 字体
$defaultFont: Avenir, Helvetica, Arial, sans-serif;
// 字体颜色
$defaultColor: #2D4054;
$themeColor: #00B4CF;
// 字体大小
$defaultFontSize: 14px;

// 主按钮色
$primaryButtonColor: $themeColor;
$primaryButtonActiveColor: #01869A;
// 主按钮大小
$primaryButtonFontSize: 14px;
$primaryButtonHeight: 30px;
// + icon 大小
$primaryIconFontSize: 18px;

// 侧边栏
$sidebarColor: #2D4054;
$sidebarActiveColor: #435466;
// 侧边栏一个item
$sidebarItemHeight: 45px;
$sidebarIconFontSize: 20px;

// 图标大小
$iconFontSize: 16px;

// 徽章大小
$badgesFontSize: 14px;
$badgesColor: #E1E4E6;

// 顶部块
$topBlockTitleFontSize: 18px;
$topBlockTitleWeight: bold;
$topBlockIconSize: 144px;
$topBlockIconOpacity: 0.2;
$topBlockNumberFontSize: 48px;
// building
$buildColor: #FF9A2A;
// idle
$idleColor: #7FBC39;
// 统计组件
$statisTitleFontSize: 12px;
$statisNumberFontSize: 20px;

// 菜单组件
$menuHeight: 50px;
$menuBorder: 3px solid $themeColor; 

// 头像组件
$avatarHeight: 40px;
$avatarSelectColor: #EFEFEF;

// popup组件
$popupWidth: 570px;
$popupShadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);

// listItme组件
$listItemIconMainSize: 80px;
$listItemFontSize: 14px;
$listItemBgColor: #EFEFEF;

// history组件
$historyTitleFontSize: 24px;
$historyTitleColor: #ccc;
$historyItemFontSize: 12px;
$historyItemColor: #999;

// z-index管理
$dialogZIndex: 4;
$shadowZIndex: 3;
$menuZIndex: 2;
$fixedZindex: 1;


