html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0; 
  background-color: $bgGrey;
  color: $defaultColor;
  font-family: $defaultFont;
}

#app{
  height: 100%;
}

// 所有非布局组件保持与窗口大小

div {
  box-sizing: border-box; 
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  outline: none;
}